<div class="container mt-5">
    <h4>International Turnkey Systems - ITS  - "Simple Documentation"</h4>
    <ng-container >
        <h5 class="text-danger">My Name: Beshoy Grace</h5>
        <p>What i used in this application? </p>
        <ol>
            <li>Error handling </li>
            <img src="../../../assets/Error.png" >
            <li Class="mt-2">Middelware for prevent any error</li>
            <img src="../../../assets/Middelware.png" >
            <li Class="mt-2">Add Middelware to catch any error from client or server </li>
            <img src="../../../assets/AddMiddelware.png" >
            <li>Make folder services extentions to add all services </li>
            <img src="../../../assets/Extentions.png" >
            <li>Add extentions to services to make it reduce like that</li>
            <img src="../../../assets/AddExtentions.png" >
            <li>If the client send error request iam make the response simple to understand it </li>
            <img src="../../../assets/ErrorClientPostMan.png" >
            <li>Make interceptor to catch any error like that , and appear it to client </li>
            <img src="../../../assets/ServerError.png" >
            <li>If the server has error <br>
              make response send message to all errors
            </li>
            <img src="../../../assets/Errorserverpostman.png" >
            <li>ngx-bootstrap && angular matrial</li>
            <li>Interfaces && Infrastructure</li>
            <li>Use alertify as notification</li>
  
        </ol>
        <p>Thanck You "International Turnkey Systems - ITS"</p>
        <code class="mt-5" style="background-color: whitesmoke;"></code>
    </ng-container>
  
  </div>
  